section#about(name='about')
	#aboutwrap
		.container
			.row
				h3 ABOUT US
				br
				br
				.col-lg-8.col-lg-offset-2
					p  Peekaboo welcomes children of all abilities, with the commitment to provide quality care and education to each child. We believe every child is a unique individual with varying needs, and we welcome the diversity that brings to our center. All children and families deserve to be full members of their communities, to have the opportunity for development and learning, and to experience a sense of belonging.