section#contact(name='contact')
	#f
		.container
			.row
				h3 CONTACT US
				br
				.col-lg-4
					i.icon-envelope
					h4 Send us a message
					h4
						a(href='mailto:') hello@peekaboo.com
					
				.col-lg-4
					i.icon-home
					h4 Schedule a visit to tour our facility
					p San Jose, California
					h5 License #987654321
					

				.col-lg-4
					i.icon-phone
					h4 Call us
					h4
						a(href='phoneto:') 408.555.5780
					
							