section#contact(name='contact')
	#f
		.container
			.row
				h3 CONTACT US
				br
				.col-lg-4
					h4 Send us a message
					h4
						a(href='mailto:') email@email.email
					br
				.col-lg-4
					h4 Call us
					h4
						a(href='phone:') 999-555-1234
					br
				.col-lg-4
					h4 We are social
					p
						a(href='index.html#')
							i.icon-facebook
						a(href='index.html#')
							i.icon-twitter
						a(href='index.html#')
							i.icon-envelope