nav.menu#menu
	.menu-wrap
		h1.logo
			a(href='#home' data-scroll) Peekaboo
		i.icon-remove.menu-close
		a(href='#home' data-scroll) Home
		a(href='#services' data-scroll) Services
		a(href='#testimonials' data-scroll) Testimonials
		a(href='#about' data-scroll) About
		a(href='#contact' data-scroll) Contact

	#menuToggle
		i.icon-reorder