nav.menu#theMenu
			.menu-wrap
				h1.logo
					a(href='index.html#home') Peekaboo
				i.icon-remove.menu-close
				a.smoothScroll(href='#home') Home
				a.smoothScroll(href='#services') Services
				a.smoothScroll(href='#testimonials') Testimonials
				a.smoothScroll(href='#about') About
				a.smoothScroll(href='#contact') Contact
		
		#menuToggle
			i.icon-reorder