section#portfolio(name='portfolio')
	#portfoliowrap
		.container
			.row
				h3 COOL THINGS
				br
				br
				.col-lg-4.port-space
					a(href='index.html')
						img(src='/dist/assets/work1.png')
				.col-lg-4.port-space
					a(href='index.html')
						img(src='/dist/assets/work2.png')
				.col-lg-4.port-space
					a(href='index.html')
						img(src='/dist/assets/work3.png')
