section#services(name='services')
	.container
		.row
			h3 OUR SERVICES
			br
			br
			.col-lg-4
				h4 Safe
				br
				p CPR & First Aid certified
				p Individual attention
				p Security system monitoring
			.col-lg-4
				h4 Fun
				br
				p Dedicated play room
				p Outdoor play area
				p Art and crafts
			.col-lg-4
				h4 Quality
				br
				p Low turnover rate
				p Well reviewed by parents
				p Passionate and friendly staff