section#services(name='services')
	.container
		.row
			h3 OUR SERVICES
			br
			br
			.col-md-4.service
				h3 Safe
				br
				p CPR & First Aid certified
				p Individual attention
				p Security system monitoring
			.col-md-4.service
				h3 Fun
				br
				p Dedicated play room
				p Outdoor play area
				p Art and crafts
			.col-md-4.service
				h3 Quality
				br
				p Low turnover rate
				p Well reviewed by parents
				p Passionate and friendly staff