section#services(name='services')
	#g
		.container
			.row
				h3 OUR SERVICES
				br
				br
				.col-lg-3
					img(src='/dist/assets/s1.png')
					h4 London
					p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui, ipsam quod? Ea ipsam aut laboriosam velit libero sit reiciendis consequuntur deserunt quae distinctio quas sequi hic repudiandae facilis odio, quibusdam!
				.col-lg-3
					img(src='/dist/assets/s2.png')
					h4 Berlin
					p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit assumenda odit, distinctio aliquid nobis reprehenderit. Similique reiciendis architecto, repellendus. Hic, maxime pariatur sapiente numquam et velit commodi accusantium, quisquam repellendus!
				.col-lg-3
					img(src='/dist/assets/s3.png')
					h4 Paris
					p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui, ipsam quod? Ea ipsam aut laboriosam velit libero sit reiciendis consequuntur deserunt quae distinctio quas sequi hic repudiandae facilis odio, quibusdam!
				.col-lg-3
					img(src='/dist/assets/s4.png')
					h4 Tokyo
					p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit assumenda odit, distinctio aliquid nobis reprehenderit. Similique reiciendis architecto, repellendus. Hic, maxime pariatur sapiente numquam et velit commodi accusantium, quisquam repellendus!