section#testimonials(name='testimonials')
	#testimonialswrap
		.container
			.row
				h3 TESTIMONIALS
				br
				br
				.col-lg-4.review
					p "My sons have been with Sally since they were infants and we are all a big family now! We have always felt like a part of her family and the care our kids have gotten has always been loving and excellent. Our children love being there!"
					em.pull-right Jennifer F.
				.col-lg-4.review
					p "The teachers at Peekaboo go that extra mile to help each child. My son came to the school not being able to say more than a few words. Now, 5 months later, he is talking and even learning to read! Nothing compares to the committment that they show."
					em.pull-right Trisha K.
				.col-lg-4.review
					p "My daughter has attended since she was 18 months old and is now getting ready to enter Kindergarten. The staff has cared for her and educated her with so much love and attention that I will forever be grateful."
					em.pull-right Ramona B.
